@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&family=Lato:wght@400;500;700&display=swap');
@import "tailwindcss";


:root {
  --font-heading: 'League Spartan', sans-serif;
  --font-body: 'Lato', sans-serif;

  --color-bg: #000000; /* black */
  --color-text: #FFbe2a; /* yellow */
}

h1, h2, h3, .heading {
  font-family: var(--font-heading);
  font-weight: 600;
}

body, p, span, .text {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.7;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}